<?xml version="1.0" encoding="utf-8" ?>
<NetLog>
  <Categorys>
    <Category>
      <ID></ID>
      <Name></Name>
      <MiniLevel></MiniLevel>
      <LogListeners></LogListeners>
    </Category>
  </Categorys>
  <Listeners>
    <Listener>
      <ID></ID>
      <Name></Name>
      <DestinationType></DestinationType>
      <DBConnectionString></DBConnectionString>
      <InsertSql></InsertSql>
      <FilePath></FilePath>
      <FileName></FileName>
      <AppendToFile></AppendToFile>
      <DateFormatter></DateFormatter>
      <MaximumFileSize></MaximumFileSize>
      <LayoutHeader></LayoutHeader>
      <LayoutContent></LayoutContent>
      <LayoutFooter></LayoutFooter>
    </Listener>
  </Listeners>
</NetLog>